body {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background-color: antiquewhite;
}
h1 {
  color: black;
  text-align: center;
  align-items: center;
}
form {
  margin-top: 20px;
}
label,
input,
button {
  display: block;
  margin: 10px auto;
}
