<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <h1>Admin Page</h1>
    <form action="/update-content" method="POST">
      <label for="section">Section Name:</label>
      <input
        type="text"
        id="section"
        name="section"
        placeholder="e.g., judul"
        required
      />
      <label for="content">New Content:</label>
      <input type="text" id="content" name="content" required />
      <button type="submit">Update Content</button>
    </form>
  </body>
</html>
